doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet' href='styles/about.css')
    link(rel='apple-touch-icon' sizes='57x57' href='/favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='/favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/favicon/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/favicon/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='/favicon/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/favicon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-touch-icon-180x180.png')
    link(rel='icon' type='image/png' href='/favicon/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='/favicon/android-chrome-192x192.png' sizes='192x192')
    link(rel='icon' type='image/png' href='/favicon/favicon-96x96.png' sizes='96x96')
    link(rel='icon' type='image/png' href='/favicon/favicon-16x16.png' sizes='16x16')
    link(rel='manifest' href='/favicon/manifest.json')
    link(rel='mask-icon' href='/favicon/safari-pinned-tab.svg' color='#5bbad5')
    link(rel='shortcut icon' href='/favicon/favicon.ico')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='msapplication-TileImage' content='/favicon/mstile-144x144.png')
    meta(name='msapplication-config' content='/favicon/browserconfig.xml')
    meta(name='theme-color' content='#ffffff')
    title Yutian Li
  body
    .splash-container
      .pure-g
        .pure-u-1-1.center-aligned
          p.splash-text.splash-name Yutian Li
          p.splash-text @hotpxl
    .content-container
      .content-row
        .content-inner
          .pure-g
            .pure-u-1-1
              h1.right-aligned About me
              p.right-aligned I am currently an on-leave master's student at Stanford University.
              p.right-aligned I practice the ancient art of computer programming.
              p.right-aligned I spend most of my time sleeping.
      .content-row.highlight
        .content-inner
          .pure-g
            .pure-u-1-1
              h1.right-aligned More stuff about me
              p.right-aligned hotpxless@gmail.com
              .right-aligned.button-row
                a.pure-button.button-item(href='https://github.com/hotpxl') GitHub
              .right-aligned.botton-row
                a.pure-button.button-item(href='misc/yutian_li.pdf') Resume
      footer
        .footer-block.color0-bg
        .footer-block.color1-bg
        .footer-block.color2-bg
        .footer-block.color3-bg
        .footer-block.color4-bg
    include ./tracking.pug
