doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet' href='styles/about.css')
    title Yutian Li
  body
    .splash-container
      .pure-g
        .pure-u-1-1.center-aligned
          p.splash-text.splash-name Yutian Li
          p.splash-text @hotpxl
    .content-container
      .content-row
        .content-inner
          .pure-g
            .pure-u-1-1
              h1.right-aligned About me
              p.right-aligned I am a currently on-leave master's student at Stanford University.
              p.right-aligned I practice the ancient art of computer programming.
              p.right-aligned I spend most of my time sleeping.
      .content-row.highlight
        .content-inner
          .pure-g
            .pure-u-1-1
              h1.right-aligned More stuff about me
              p.right-aligned Email: hotpxless@gmail.com
              .right-aligned.button-row
                a.pure-button(href='https://github.com/hotpxl') GitHub
              .right-aligned.botton-row
                a.pure-button(href='http://yutian.li/yutian_li.pdf') Resume
      footer
        .footer-block.color0-bg
        .footer-block.color1-bg
        .footer-block.color2-bg
        .footer-block.color3-bg
        .footer-block.color4-bg
