yutian.li {
    tls hotpxless@gmail.com
    log stderr
    root ./src/
    gzip
    header / {
        Cache-Control no-cache
    }
}

www.yutian.li {
    tls hotpxless@gmail.com
    redir https://yutian.li
}
