$color0 = #255378
$color1 = #1695a3
$color2 = #acf0f2
$color3 = #f3ffe2
$color4 = #eb7f00

html
button
input
select
textarea
.pure-g [class *= "pure-u"]
  font-family Lato, sans-serif

.right-aligned
  text-align right

.center-aligned
  text-align center

.splash-container
  background-color $color0
  z-index -1
  height 70%
  top 0
  left 0
  right 0
  overflow hidden
  position fixed
  display flex
  flex-direction column
  align-items center
  justify-content center

.content-container
  position absolute
  top 70%
  width 100%
  background #fff

.splash-text
  color $color3

.splash-name
  font-size 10em
  margin 10px

@media only screen and (max-width 640px)
  .splash-name
    font-size 4em

.content-row
  padding-left 20px
  padding-right 20px

.content-inner
  max-width 640px
  margin-left auto
  margin-right auto
  padding-top 70px
  padding-bottom 70px

.highlight
  background-color $color4
  color $color3

.button-row
  margin 20px 0

footer
  font-size 0
  margin-top -35px

.footer-block
  width 35px
  height 35px
  display inline-block

.color0-bg
  background-color $color0

.color1-bg
  background-color $color1

.color2-bg
  background-color $color2

.color3-bg
  background-color $color3

.color4-bg
  background-color $color4
